version: '3'
services:
  web:
    build: .
    ports:
      - "8501:8501"
    depends_on:
      - db
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: bpdata
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data:
